.app-header {
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    line-height: 26px;
    background-color: $clr6;
    color: #ffffffe3;
    font-weight: 400;
    border-bottom: 3px solid #000;

    i {
        color: rgb(255, 247, 0);
        margin-left: 10px;
    }

    >* {
        margin: 0 60px;
    }

    .logo {
        font-size: 40px;
        font-weight: 600;

    }

    button {
        height: 30px;
        background: none;
        border: none;
        margin: 0 15px;
        font-size: 18px;
        color: white;
    }

    a.my-active {
        border-bottom: 3px solid $clr9;
    }

    nav {
        line-height: 40px;
        vertical-align: middle;

        >a:not(:last-child) {
            margin-right: 30px;
        }
    }
}