// Colors
$clr1: #e01e5a;
$clr2: #293241;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #e6e9ec;
$clr6: #5a67a6;
$clr7: #d5dcff;
$clr8: #2758d5;
$clr9: rgb(39, 48, 101);
$clr10: rgb(255, 255, 255);
$clr11: #5a6dcd;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1100px;
$wide-breakpoint: 1280px;